@import 'tailwindcss';
@import "tailwindcss";
@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@import 'swiper/css/bundle';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";

body{
   
    font-family: "Poppins", sans-serif;
}






/* Animasyon efekti */
@keyframes zoomEffect {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

/* Slider'ın görseline uygulanacak animasyon */
.swiper-slide .slider-zoom {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 15s linear; /* Animasyon süresi */
}

/* Sadece aktif slayt için zoom animasyonunu uygula */
.swiper-slide.swiper-slide-active .slider-zoom {
    animation: zoomEffect 15s linear forwards; /* Animasyonu aktif slaytta uygula */
}

.slider-elements{
    padding-left: 10rem;
}
.slider-elements p{
    font-size: 5rem;
    font-weight: 700;
    max-width: 50rem;
}

/* Prev ve Next butonlarındaki font boyutunu artırma */
.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 10px !important; /* Burada font boyutunu artırabilirsiniz */
}

/* Next butonunun boyutlarını ayarlama */
.swiper-button-next {
    color: white !important;
    border: 2px solid white;
    border-radius: 100%; /* Butonu yuvarlak yapmak için */
    padding: 21px; 
}

/* Prev butonunun boyutlarını ayarlama */
.swiper-button-prev {
    color: white !important;
    border-radius: 100%; /* Butonu yuvarlak yapmak için */
    border: 2px solid white;
    padding: 21px; /* Butonun iç dolgusunu artırma */
}

.select-disable {

    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    user-select: none;


}
.appointment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/resources/views/images/bg-18.jpg') no-repeat center center/cover;
    padding: 20px;
}

.form-section {
    border-radius: 10px;
    max-width: 450px;
    text-align: start;
        right: 38rem;
    position: absolute;
    left: 20rem;
}
.title-text{
         font-size: 45px;
    font-weight: bold;
    color: #123456;
    margin-bottom: 20px;
    width: 35rem;
}
.small-text {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 10px;
    font-weight: 500;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.input-group input,
.input-group select {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.submit-btn {
    align-items: start;
    background: #00d4a2;
    color: white;
    border: none;
    padding: 16px 45px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in;
}

.submit-btn:hover {
    background: #00b48c;
}


































@media screen and (max-width: 1450px) {
 .form-section {
    position: static;
}

}







@media screen and (max-width: 1024px) {
    .slider-elements{
    padding-left: 5rem ;
}
.slider-elements p{
    font-size: 4rem ;
    font-weight: 500 ;
    max-width: 35rem;
}

}
@media screen and (max-width: 768px) {
    .slider-elements{
    padding-left: 5rem ;
}
.slider-elements p{
    font-size: 3rem ;
    font-weight: 400 ;
    max-width: 35rem;
}
/* Prev ve Next butonlarındaki font boyutunu artırma */
.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 10px !important; /* Burada font boyutunu artırabilirsiniz */
}

/* Next butonunun boyutlarını ayarlama */
.swiper-button-next {
    color: rte !important;
    border: 1px solid white;
    border-radius: 100%; /* Butonu yuvarlak yapmak için */
    padding: 21px; 
}

/* Prev butonunun boyutlarını ayarlama */
.swiper-button-prev {
    color: white !important;
    border-radius: 100%; /* Butonu yuvarlak yapmak için */
    border: 1px solid white;
    padding: 21px; /* Butonun iç dolgusunu artırma */
}

}
@media screen and (max-width: 640px) {
    .submit-btn {
    padding: 10px 25px;
    font-size: 12px;
}
    .title-text{
         font-size: 30px;
         
    width: unset;
}
.small-text {
    font-size: 15px;
}
    .input-group input,
.input-group select {
    font-size: 13px;
}
    .appointment-container {
    justify-content: start;
}
    .form-section {
    position: unset;
}
    .arrow-hidden{
    display: none;
}
    .slider-elements{
    padding-left: 4rem ;
}
.slider-elements p{
    font-size: 3rem ;
    font-weight: 300 ;
    max-width: 32rem;
}
/* Prev ve Next butonlarındaki font boyutunu artırma */
.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 10px !important; /* Burada font boyutunu artırabilirsiniz */
}

/* Next butonunun boyutlarını ayarlama */
.swiper-button-next {
      color: white !important;
    border: 0px solid ;
    padding: 0; /* Butonun iç dolgusunu artırma */
}

/* Prev butonunun boyutlarını ayarlama */
.swiper-button-prev {
    color: white !important;
    border: 0px solid ;
    padding: 0; /* Butonun iç dolgusunu artırma */
}

}
@media screen and (max-width: 490px) {
    .title-text{
         font-size: 30px;
}
.small-text {
   
    font-size: 15px;
}
.input-group input,
.input-group select {
  
 flex: unset;
width: 7rem;
}

}


@media screen and (max-width: 380px) {

.checkbox-group {
          font-size: 13px;
        padding-right: 12rem;
}
.title-text{
         font-size: 23px;
}
.small-text {
    font-size: 12px;
}
.grid-links-settings{
    grid-template-columns: repeat(1, minmax(0, 1fr)) ;
    
}

}
