@import 'tailwindcss';
@import "tailwindcss";
@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";





.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
}

.nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-grow: 1;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #007bff;
}

.right {
    display: flex;
    align-items: center;
}
.mobile-nav {
    display: none;
}

/* Mobilde menü görünür olduğunda */
.mobile-nav.open {
    display: block;
}
@media (max-width: 768px) {
    .nav {
        display: none; /* Desktop'ta menü her zaman görünür */
    }
}
@media (min-width: 768px) {
    .mobile-nav {
        display: none; /* Desktop'ta menü her zaman görünür */
    }
}
